.collapse {
    display: flex;
    justify-content: space-between;
}
.navbar {
    padding: 0 10px 0 10px;
   
}
.logo {
    padding: 0 10px 0 10px;
}
.nav-link {
    font-size: 18px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: max-content;
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-link:hover {
    background-color: #8EBA43;
    transition: 0.5s;
}
